  <h1 class="m-5 text-center">Portfolio</h1>
  <div class="container">
    <div class="row text-center text-light justify-content-center">
      <div class="col-2">
        <div class="card bg-secondary" style="width: 10rem; height: 10rem;">
          <div class="card-body">
            <p class="card-text mt-4">Web Design</p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card bg-dark" style="width: 10rem; height: 10rem;">
          <div class="card-body">
            <p class="card-text mt-4">Web Development</p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card bg-secondary" style="width: 10rem; height: 10rem;">
          <div class="card-body">
            <p class="card-text mt-4">Logo Design</p>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center text-light mt-5 justify-content-center">
      <div class="col-2">
        <div class="card bg-secondary" style="width: 10rem; height: 10rem;">
          <div class="card-body">
            <p class="card-text mt-4">Web Design</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card bg-dark" style="width: 10rem; height: 10rem;">
          <div class="card-body">
            <p class="card-text mt-4">Web Development</p>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card bg-secondary" style="width: 10rem; height: 10rem;">
          <div class="card-body">
            <p class="card-text mt-4">Logo Design</p>
          </div>
        </div>
      </div>
    </div>
  </div>
