<div class="container m-5 p-5">

  <div class="row">
    <h1 class="col-3 text-secondary">About me</h1>
    <p class="col-9">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis incidunt autem facilis laborum voluptate sit. Aliquid suscipit iusto saepe eum vitae deserunt consectetur hic reprehenderit illum quae perspiciatis doloremque delectus non, numquam beatae officia nobis debitis iste quam enim excepturi labore culpa fugiat? Deleniti nulla dicta libero, aspernatur iste, possimus quis quam, nisi eaque labore neque itaque sed eius corporis adipisci doloremque! Magnam laboriosam sunt ea, nihil rem doloribus iure voluptates accusantium eligendi autem! Dolorem magnam quos explicabo deleniti eius? Dicta nihil labore voluptates cum, quod dignissimos iste tempora. Minus.</p>
  </div>
  <button type="button" class="mt-3 btn btn-secondary offset-3">Download Resume</button>

</div>
